<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
  <section id="feed-posts">

    <% if(locals.user) { %>
      <h4>Posts</h4>
        <form action="/posts/create" method="post" id="new-post-form">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>
  
    <div id="posts-list-container">
      <ul>
        <% for(post of posts){ %>
  
          <%- include('_post'); %>
        
          <% } %>
      </ul>
    </div>
  </section>
  

  	<% if(locals.user) { %>
		<section id="user-friends">
			<div class="friends">
				<h4> Friends </h4>
					<% if(loggedUser.friends.length > 0)  { %>	
						<% for(friend of loggedUser.friends) { %>
							<p>
								<a href="/users/profile/<%=friend._id%>"> <%=friend.name%></a>
							</p>
						<% } %>
					<% } else { %>
						<!-- to right, #28c0c0 10%, #5a8f8f 30%,  #1d0041 80% -->
						<p style="background: linear-gradient(to right, #28c0c0 10%, #5a8f8f 30%,  #1d0041 60%);background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">No friends found in your Friends-list</p>
					<% } %>
					<div class="users">
						<h4> Users </h4>
						<% for(let u of users) { %>
							<p>
								<a href="/users/profile/<%=u._id%>"> <%=u.name%></a>
							</p>
						<% } %>
					</div>
		</section>
	<% } %>
</div>

<script src="./js/jquery-3.6.0.js"></script>
<script src="./js/home_posts.js"></script>